<ion-header>
  <ion-toolbar color="danger">
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <ion-card>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>

        

      <ion-row>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div >
            <ion-item>
              <ion-input name="email" type="email" placeholder="email" [(ngModel)]="user.email" class="input" padding-horizontal clear-input="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="user.password" class="input" padding-horizontal clear-input="true"></ion-input>
            </ion-item>
          </div>
          <div >
            <ion-button size="large" [disabled]="form.invalid" expand="block" (click)="login(user)">Login</ion-button>
          </div>
          
          
        </ion-col>
      </ion-row>

      <ion-row>
          <div class="null" >
        If you don't have an account, please 
        
        <a routerLink='/sign-up'> Sign</a> 
          
          </div>
          
      </ion-row>
      
    </ion-grid>
  </form>
</ion-card>
<br>
<br>
<ion-card>
<div >
  <ion-button size="large" [disabled]="form.invalid" expand="block" (click)="anonymous(user)">LogIn Anonymously</ion-button>
</div>
</ion-card>
</ion-content>
