<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Upadate-Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Name:</ion-label>
        <ion-input type="text" [(ngModel)]="User.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Username: </ion-label>
        <ion-input type="text" [(ngModel)]="User.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender: </ion-label>
        <ion-input type="text" [(ngModel)]="User.gender"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Bio: </ion-label>
          <ion-input type="text" [(ngModel)]="User.bio"></ion-input>
        </ion-item>
      <ion-button color="primary" shape="round" (click)="onEdit(User, User.key)">Update</ion-button>
    <br>
  </ion-content> -->
