<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Add-Friend</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
    <ion-tabs>

        <ion-tab-bar slot="top" color="danger">
    
          <ion-tab-button tab1="chat" routerLink="/chat">
            <ion-icon name="md-chatbubbles"></ion-icon>
            <ion-label>Chats</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab2="add-friend" routerLink="/add-friend">
            <ion-icon name="md-person-add"></ion-icon>
            <ion-label>Add Friend</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab3="profile" routerLink="/profile">
            <ion-icon name="md-person"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-tab-button>
    
        </ion-tab-bar>
      
      </ion-tabs>
  
</ion-content>
