<ion-header>
  <ion-toolbar>
    <ion-title>
      CHAT ZONE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="ion-padding">
    <h1> WELCOME TO THE CHAT ZONE </h1> -->
    <ion-card >

      <!-- <ion-col>
        <ion-icon  name="refresh-circle"></ion-icon>
      </ion-col>
      <ion-col>
          <ion-icon name="person"></ion-icon>
        </ion-col>
      <ion-col>
          <ion-icon name="person-add"></ion-icon>
        </ion-col>
      <ion-col>
          <ion-icon name="notifications"></ion-icon>
        </ion-col>
        <ion-col>
            <ion-icon name="settings"></ion-icon>
          </ion-col> -->

    </ion-card> 

        <!-- <ion-list class="au-form" inset padding> -->
              <!-- <ion-item>
                  <ion-input type="text" placeholder="What are you up to?"></ion-input>
                </ion-item> -->
              
         <!-- </ion-list>  -->
      
         
          
         
         

  <!-- </div>

  
</ion-content>


<ion-header>
  <ion-navbar color="hcolor">
    <ion-title>Profile Picture</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="profile-image">
    <img src="{{imgurl}}">
  </div>
  <div>
    <button ion-button round outline (click)="chooseimage()">Choose an image</button>
  </div>
  <div [hidden]="!moveon">
    <button ion-button round outline (click)="proceed()">Skip this step</button>
  </div>
  <div [hidden]="moveon">
    <button ion-button round outline (click)="updateproceed()">Upload & proceed</button>
   </div -->
</ion-content> 

